{{#
    @name CTA
    @desc The CTA page builder block.
    @set page.page_builder.cta
#}}

<!-- /page_builder/_cta.antlers.html -->

<div x-data="{
    bannerVisible: false,
    bannerVisibleAfter: 300,
}"
x-show="bannerVisible"
x-transition:enter="transition ease-out duration-500"
x-transition:enter-start="translate-y-10"
x-transition:enter-end="translate-y-0"
x-transition:leave="transition ease-in duration-300"
x-transition:leave-start="translate-y-0"
x-transition:leave-end="-translate-y-10"
x-init="
    setTimeout(()=>{ bannerVisible = true }, bannerVisibleAfter);
"
class="left-0 z-10 w-full h-auto py-4 duration-300 ease-out bg-yellow-400 shadow-sm sm:fixed sm:bottom-0 md:h-10" x-cloak>
<div class="flex items-center justify-between w-full h-full max-w-5xl px-3 mx-auto ">
    <a href="{{ url }}" class="flex flex-col w-full h-full text-xs leading-4 text-black duration-150 ease-out md:flex-row md:items-center opacity-80 hover:opacity-100">
        <span class="flex items-center ">
            <svg class="w-4 h-4 mr-2 overflow-visible fill-current" alt="" aria-hidden="true" viewBox="0 0 140 140"><path d="M115 15H25A25 25 0 000 40v60a25 25 0 0025 25h90a25 25 0 0025-25V40a25 25 0 00-25-25zM95.71 76.25L63.58 94.1A7.15 7.15 0 0153 87.85v-35.7a7.15 7.15 0 0110.6-6.26l32.11 17.86a7.15 7.15 0 010 12.5z"></path></svg>
            <strong class="font-bold">{{ title }}</strong>
            <span class="hidden w-px h-4 mx-4 bg-gray-600 md:block"></span>
        </span>
        <span class="block pt-1 pb-2 leading-none md:inline md:pt-0 md:pb-0">{{ description }}</span>
    </a>
    <button @click="bannerVisible=false; setTimeout(()=>{ bannerVisible = true }, 1000);" class="flex items-center flex-shrink-0 translate-x-1 ease-out duration-150 justify-center w-4 h-4 p-1.5 text-black rounded-full hover:bg-gray-100">
        <svg class="w-4 h-4 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full h-full"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
    </button>
</div>
</div>
  

<!-- End: /page_builder/_cta.antlers.html -->