{{#
    @name Hero Home
    @desc The Hero Home page builder block.
    @set page.page_builder.hero_home
#}}

<!-- /page_builder/_hero_home.antlers.html -->
<section class="relative py-6 -mt-12 antialiased lg:py-12 bg-yellow-50 md:-mt-16 lg:-mt-24 isolate ">  
    <div class="relative px-4 py-8 mx-auto sm:block sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-lg lg:px-8 lg:py-8">
      {{# illustracion #}}
      {{ partial src="components/illustracion" class="absolute top-0 right-0 w-32 -mt-10 translate-y-1/2 md:translate-y-1/2 md:w-56" }}
      {{# illustracion #}}
      <div class="relative flex flex-col max-w-lg gap-6 sm:mx-auto md:items-center sm:text-center">
        <div class="flex flex-col gap-2 sm:text-center md:mx-auto">
          {{ partial:typography/h1 :content="title" class="text-3xl font-bold tracking-tight lg:text-3xl md:mx-auto" }}
          {{ partial:typography/p :content="textarea" class="text-sm" }}
        </div>
        {{ partial:components/buttons class="flex items-center" }}
      </div>
    </div>
  </section>
<!-- End: /page_builder/_hero_home.antlers.html -->


